<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <link href="/images/favicon.png" rel="icon" type="image/png" />

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <link href="stylesheets/application.css" rel="stylesheet" />
  </head>

  <body class="partials partials_navigation">
    <header class="navigation">
  <div class="logo">
    <h1>Copperline USA</h1>
  </div>

  <div class="callout-block">
    <h5>Got 3 minutes?</h5>
    <p>Account activation is that easy.</p>
  </div>
</header>



    <header class="navigation">
  <div class="logo">
    <h1>Copperline USA</h1>
  </div>

  <div class="callout-block">
    <h5>Got 3 minutes?</h5>
    <p>Account activation is that easy.</p>
  </div>
</header>


    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="javascripts/all.js"></script>

    <script type="text/javascript">
      $("document").ready(function() {
        $(".slider").rangeslider();
      });
      $.fn.rangeslider = function(options) {
        var obj = this;
        var defautValue = obj.attr("value");
        obj.wrap("<span class='range-slider'></span>");
        obj.after("<span class='slider-container'><span class='bar'><span></span></span><span class='bar-btn'><span class='bar-value'>$0</span></span></span>");
        obj.attr("oninput", "updateSlider(this)");
        updateSlider(this);
        return obj;
      };

      function updateSlider(passObj) {
        var obj = $(passObj);
        var value = obj.val();
        var min = obj.attr("min");
        var max = obj.attr("max");
        var range = Math.round(max - min);
        var percentage = Math.round((value - min) * 100 / range);
        var nextObj = obj.next();
        nextObj.find("span.bar-btn").css("left", percentage + "%");
        nextObj.find("span.bar > span").css("width", percentage + "%");
        nextObj.find("span.bar-btn > span").text(value);
      };

    </script>
  </body>
</html>
