<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <%= favicon_tag 'images/favicon.png' %>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <link href="stylesheets/application.css" rel="stylesheet" />
  </head>

  <body class="<%= page_classes %>">

    <%= yield %>
    <%= partial 'partials/footer' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="javascripts/all.js"></script>


    <script type="text/javascript">
     $(document).ready(function() {
       var ripple_wrap = $('.ripple-wrap'),
           rippler = $('.ripple'),
           finish = false,
           monitor = function(el) {
             var computed = window.getComputedStyle(el, null),
                 borderwidth = parseFloat(computed.getPropertyValue('border-left-width'));
             if (!finish && borderwidth >= 1500) {
               el.style.WebkitAnimationPlayState = "paused";
               el.style.animationPlayState = "paused";
               swapContent();
             }
             if (finish) {
               el.style.WebkitAnimationPlayState = "running";
               el.style.animationPlayState = "running";
               return;
             } else {
               window.requestAnimationFrame(function() {monitor(el)});
             }
           };

       storedcontent = $('#content-2').html();
       $('#content-2').remove();

       rippler.bind("webkitAnimationEnd oAnimationEnd msAnimationEnd mozAnimationEnd animationend", function(e){
         ripple_wrap.removeClass('goripple');
       });

       $('body').on('click', 'a', function(e) {
         rippler.css('left', e.clientX + 'px');
         rippler.css('top', e.clientY + 'px');
         e.preventDefault();
         finish = false;
         ripple_wrap.addClass('goripple');
         window.requestAnimationFrame(function() {monitor(rippler[0])});


       });



       function swapContent() {
           var newcontent = $('#content-area').html();
           $('#content-area').html(storedcontent);
           storedcontent = newcontent;
           // do some Ajax, put it in the DOM and then set this to true
           setTimeout(function() {
             finish = true;
           },10);
       }

     });
    </script>
  </body>
</html>
