<header class="navigation">
  <div class="logo">
    <h1><a href="/">Copperline USA</a></h1>
  </div>

  <div class="callout-block">
    <div class="nav-block side-panel">
      <h5>Need to change an answer?</h5>
      <p>Use this </p>
      <img src="images/arrow.png" class="arrow">
    </div>
    <div class="nav-block finish-later">
      <h6>Want to finish later?</h6>
      <p><a href="#">Save and Logout</a></p>
    </div>
    <img src="images/menu.png" class="sliding-panel-button">
  </div>
</header>

