<header class="navigation">
  <div class="logo">
    <h1>Copperline USA</h1>
  </div>

  <div class="callout-block">
    <h5>Got 3 minutes?</h5>
    <p>Account activation is that easy.</p>
  </div>
</header>

