/*-----------------------
Footer
-----------------------*/
footer{
  background-color: darken($white-light, 4%);
  display: inline-block;
  @include rem(padding, 10px 20px);
  text-align: center;
  width: 100%;
}

/*-----------------------
Logos
-----------------------*/
.footer-logos{
  li{
    display: inline-block;
    @include rem(margin, 0px 10px);
    @include transition(all 0.3s ease-in-out);
    max-width: 100px;
    opacity: 0.2;
    width: 30%;
  }
}