// Site Navigation Styles
// ========================================
$mobile-nav-height: 65px;
$desktop-nav-height: 81px;

.navigation {
  background-color: $white-base;
  display: inline-block;
  @include rem(padding, 20px 20px);
  position: relative;
  text-align: center;
  width: 100%;
}


/*-----------------------
Logo
-----------------------*/
.logo{
  @include rem(margin-bottom, 0px);
  @include transition(all 0.3s ease-in-out);
  float: left;
  width: 120px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  @include media($tablet) {
    width: 200px;
  }
}

/*-----------------------
Primary Nav
-----------------------*/
.navigation{
  @include position(fixed, 0px 0px null 0px);
  @include transition(all 0.3s ease-in-out);
  width: 100%;
  z-index: 9;

  .callout-block{
    text-align: right;

    p{
      @include mobile-hide;
    }

    h5{
      @include rem(margin-top, 5px);

      @include media($tablet){
        margin-top: 0px;
      }
    }
  }
}