.sliding-panel-content {
  $sliding-panel-width: 300px;

  @include position(fixed, 0 auto 0 0);
  @include size($sliding-panel-width 100%);
  @include transform(translateX(-$sliding-panel-width));
  @include transition(all 0.2s linear);
  background: #fff;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: 999999;

  &.is-visible {
    @include transform(translateX(0));
  }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0 0 0 0);
  @include transition;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-close {
  cursor: pointer;
}

//Content
.sliding-panel-content{
  h4{
    color: $white-base;
    background-color: $orange-base;
    @include rem(padding, 30px 20px);
  }
}

.question-list{
  li{
    @include rem(padding, 10px 20px);
    border-left: 5px solid transparent;

    &.active{
      background-color: lighten($orange-base, 40%);
      border-left: 5px solid $orange-base;
    }

    a{
      color: $grey-base;
      @include transition(all 0.3s ease-in-out);
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

      &:before{
        background-color: lighten($orange-base, 35%);
        border-radius: 50%;
        content: "";
        display: inline-block;
        background-size: 100%;
        height: 15px;
        width: 15px;
        vertical-align: -2px;
        @include rem(margin-right, 10px);
      }

      &.checked:before{
        background: url(../images/check.svg) no-repeat;
        content: "";
        display: inline-block;
        background-size: 100%;
        height: 15px;
        width: 15px;
        vertical-align: -2px;
        @include rem(margin-right, 10px);
      }
    }
  }
}

//Open Button
.sliding-panel-button{
  display: none;

  @include media($tablet){
    cursor: pointer;
    display: inline-block;
    @include transition(all 0.3s ease-in-out);
    opacity: 0.5;
    width: 30px;
  }

  &:hover{
    opacity: 0.6;
  }
}

em.colored{
  color: $orange-base;
  font-style: normal;
}

strong{
  font-weight: 600px;
}

//Close Button
.sliding-panel-close img{
  @include position(absolute, 28px 20px null null);
  @include rem(padding, 10px);
  @include transition(all 0.3s ease-in-out);
  width: 35px;

  &:hover{
    opacity: 0.6;
  }
}