---
title: Verification Wizard
---

<div
  class="animsition"
  data-animsition-in-class="flip-in-x-fr"
  data-animsition-in-duration="1000"
  data-animsition-out-class="flip-out-x-fr"
  data-animsition-out-duration="800"
>
  <%= partial 'partials/wizard' %>
</div>
