<header class="navigation">
  <div class="logo">
    <h1><a href="/">Copperline USA</a></h1>
  </div>

  <div class="callout-block">
    <div class="nav-block">
      <h5>Need to change an answer?</h5>
      <p>Use this </p>
      <img src="images/arrow.png" class="arrow">
    </div>
    <div class="nav-block finish-later">
      <h6>Want to finish later?</h6>
      <p><a href="#">Save and Logout</a></p>
    </div>
    <img src="images/menu.png" class="sliding-panel-button">
  </div>
</header>
<!--
<form id="msform">
  <fieldset>
    <h3>Login</h3>
    <h5>16 Digit Account Number</h5>
    <div class="inputs half-input">
      <input type="tel" name="" placeholder="1111–1111–1111–1111">
    </div>
    <h5>Password</h5>
    <div class="inputs half-input">
      <input type="password" name="">
    </div>
      <input type="button" name="next" class="next action-button add-break" value="Next" />
  </fieldset>
</form>
-->

<form id="msform">
  <fieldset class="upload">
    <h5>Good Morning, Michael.</h5>
    <h3>We need to verify your revenues through your company banks statements.</h3>
    <img src="images/statements.svg" class="statement-icon">
    <h5 class="orange">Upload 3 banks statements</h5>
    <input type="button" name="next" class="next action-button" value="Upload" />
  </fieldset>
  <fieldset>
    <h5>Thanks, Michael.</h5>
    <p>We got the statements. We will be in touch with you shortly with your loan options.</p>
    <hr><br>
    <h3>We will call you at 312-555-4444, is that correct?</h3>
    <input type="button" name="next" class="next action-button" value="Yes" />
    <input type="button" name="next" class="next action-button grey-button" value="No" />
  </fieldset>
  <fieldset>
    <h3>Talk to you soon.</h3>
    <input type="button" name="next" class="next action-button" value="Logout" />
  </fieldset>
</form>