<main class="wizard">
<header class="navigation">
  <div class="logo">
    <h1><a href="/">Copperline USA</a></h1>
  </div>

  <div class="callout-block">
    <div class="nav-block secure-block">
      <img src="images/lock.svg" class="lock">
      <h5>Secure File Uploader</h5>
    </div>
    <div class="nav-block finish-later">
      <h6>Want to finish later?</h6>
      <p><a href="#">Save and Logout</a></p>
    </div>
  </div>
</header>

<form id="msform">
  <fieldset>
    <h1>Welcome back, Michael.</h1><br>
    <div class="inputs half-input-group">
      <div class="half-input">
        <div class="field">
          <h5>16 Digit Account Number</h5>
          <input type="tel" name="" placeholder="1111–1111–1111–1111">
        </div>
        <div class="field">
          <h5>Password</h5>
          <input type="password" name="">
        </div>
      </div>
    </div>
      <input type="button" name="next" class="next action-button add-break" value="Login" />
  </fieldset>
  <fieldset class="upload">
    <h5>Good Morning, Michael.</h5>
    <h3>We need to verify your revenues through your company banks statements.</h3>
    <img src="images/statements.svg" class="statement-icon">
    <div class="file-uploader">
      <h5 class="file-uploader__message-area orange">
        Upload last 3 banks statements
      </h5>
      <label class="fileContainer file-chooser">
        Choose File
        <input class="file-chooser__input" type="file"/>
      </label>
    </div>
    <input type="button" name="next" class="next action-button add-break" value="Upload" />
  </fieldset>
  <fieldset class="success">
    <svg id="checkmark-svg" class="run-animation" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 193.3 193.3"><circle class="animate-svg circle" cx="96.65" cy="96.65" r="94.15"/><polyline class="animate-svg checkmark" points="46.9 101.4 76.9 131.4 146.4 61.9"/></svg>
    <h5>Thanks, you're all set!</h5>
    <h3>We got the statements. We will be in touch with you shortly with your loan options.</h3>
    <input type="button" name="next" class="next action-button" value="Logout" />
  </fieldset>
</form>
</main>

<script>
  window.intercomSettings = {
    app_id: "ft3n9g7e",
    name: "Michael", // Full name
    email: "customer@example.com", // Email address
    created_at: 1312182000 // Signup date as a Unix timestamp
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ft3n9g7e';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>