---
title: Verification Wizard
---

  <main>
    <div class="cd-about cd-main-content">
      <div>
        <div>
          <%= partial 'partials/wizard' %>
        </div>
      </div>
    </div>
  </main>
  <div class="cd-cover-layer"></div>
  <div class="cd-loading-bar"></div>